<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-sumup" version="0.0.1">
    <name>Sumup SDK</name>
    <description>Sumup SDK for cordova</description>
    <license>MIT</license>
    <keywords>sumup</keywords>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SumupSDK">
                <param name="android-package" value="org.apache.cordova.sumup.SumupSDKCordovaPlugin" />
            </feature>
        </config-file>

        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

        <source-file src="src/android/SumupSDKCordovaPlugin.java" target-dir="src/org/apache/cordova/sumup" />
        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

    </platform>
</plugin>